@keyframes marquee-hover {
  0% { transform: translateX(0%); }
  80% { transform: translateX(-50%); } 
  100% { transform: translateX(0%); }
}

.hover\:marquee-hover:hover {
  animation: marquee-hover 3s linear forwards;
}

.overflow-hidden-no-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  width: max-content;
  animation: scroll 45s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}